<div class="container-fluid w-75 header pt-3">
    <div class="d-flex flex-column align-items-start mt-1">
      <div class="d-flex align-items-center">
        <span id="line-span"></span>
        <h2 class="fw-bold px-1">Forget Password</h2>
      </div>
      <p>
        Login to your self service dashboard
        <br />
      </p>
    </div>
    <hr >
  </div>
  <div *ngIf = "success" class="container-fluid w-75 alert alert-success mt-2 alert-dismissible fade show" role="alert">
    <strong>{{success}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   <div *ngIf = "error" class="container-fluid w-75 alert alert-danger mt-2 alert-dismissible fade show" role="alert">
    <strong>{{error}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
  <div class="align-items-center justify-content-center row m-0 parent-div pb-5">
    
    <div class="col-sm-10 col-md-8 col-xl-4 child-div p-4">
      <img src="../../../assets/images/kitten-dark.png" class="mx-auto d-block" />
      <form [formGroup]="form" class="p-3">
        <h6 class="text-center">FORGOT PASSWORD</h6>
        <p class="text-center mb-4">Please provide your email address</p>
        <div class="mb-3">
          <input
            type="text"
            formControlName="identifier"
            id="identifier"
            class="form-control form-control-sm"
            placeholder="Enter your email address"
          />
          <div
              *ngIf="
                form.controls['identifier'].invalid &&
                (form.controls['identifier'].dirty ||
                  form.controls['identifier'].touched)
              "
            >
              <div
                *ngIf="form.controls['identifier'].errors?.required"
                class="text-danger"
              >
                Email is required.
              </div>
              <div *ngIf="form.controls['identifier'].errors?.email" class="text-danger">
                Please enter valid email address.
              </div>
            </div>
        </div>
        <div class="mb-3">
          <button
            (click)="submit()"
            name="submit"
            class="submit_btn mb-2"
          >
            Submit
          </button>
        </div>
        <div id="register-link" class="text-end pb-3">
          <a href="#" routerLink = "/login">Signin </a><i class="an an-arrow-right an-2x"></i>
        </div>
      </form>
    </div>
  </div>
